---
jenkins:
  source_name: Jenkins
  server_ip: localhost
  server_port: 8080
  jenkins_path: /
  username: admin
  password: admin
  ssl: false
sonar:
  source_name: Sonar
  url: http://localhost:9000
  username: admin
  password: admin
maestro:
  base_url: http://localhost:8888
  api_url: /api/v1
  username: admin
  password: admin1

role_template:
  write: {{name}}-developer
  read: {{name}}-user

#verbose: true
#dryrun: true