---
jenkins:
  source_name: Jenkins
  server_ip: localhost
  server_port: 8080
  jenkins_path: /
  username: admin
  password: admin
  ssl: false
#  notification_plugin_version: 1.5
#  disable_hook: true
sonar:
  source_name: Sonar
  url: http://localhost:9000
  username: admin
  password: admin
maestro:
  base_url: http://localhost:8888
  api_url: /api/v1
  username: admin
  password: admin1
  lucee_username: maestro
  lucee_password: maestro

role_template:
  write: {{name}}-developer
  read: {{name}}-user

#verbose: true
#dryrun: true

#include_views:
# - Good View

#exclude_views:
# - Bad View

#include_jobs:
# - Good Job

#exclude_jobs:
# - Bad Job
